@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;900&display=swap');

:root {
    --dateSize: 50px;
}

body {
    font-family: 'Montserrat', sans-serif;
}

header {
    background: linear-gradient(to right, #FF612F, #AC25FF);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.title {
    font-size: 20vw;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 0px;
}

.desc {
    display: flex;
    justify-content: space-between;
    font-size: 8vw;
    text-transform: uppercase;
    margin-bottom: 32px;
}

.calendar {
}
.month {
    text-transform: uppercase;
    font-weight: 900;
}
.month__title {
    font-size: 32px;
    color: #404040;
    line-height: 1.2em;
    margin-bottom: 16px;
}
.month__name {
    color: #AA0E6C;
    margin-bottom: 16px;
    font-size: 24px;
}
.month__content {
    display: inline-grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 2px;
}
.month__date {
    width: var(--dateSize);
    height: calc(var(--dateSize)/2);
    color: #83818E;
    display: flex;
    align-items: center;
    justify-content: center;
}

.month__date_accent {
    color: #E6007E;
}
